body{
    overflow-x: hidden;
}
p{
    font-size: 27px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
/*font*/
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
/*container div*/
.con{
    display: flex;
    gap: 2px;
    width: auto;
    text-align: center;
}
/*important colors: #EB1B59 (redish) #6B3EF9 (bluish) #FE3FC3 (pinkish) #B711ED (purplish)*/
/*navigation bar*/
.nav{
    top: 0px;
    flex-wrap: wrap;
    flex: 0 0 25%;
    height: 650px;
    position: sticky;
    text-align: center;
}
.sections{
    background-color: white;
    height: 10%;
    flex: 0 0 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
}
.sections:hover{
    cursor: pointer;
    background-color: gray;
}
.sections img{
    height: 100%;
    width: 100%;
    border: none;
}
#name{
    height: 20%;
    margin-top: -35px;
    border: none;
}
#name:hover{
    background-color: white;
}
/*posts*/
.posts{
    flex: 0 0 60%;
}
/*put a post*/
#story{
    display: flex;
    height: 100px;
    width: 100px;
    border: none;
    padding-left: 28%;
}
html body .con .posts .profile.personal{
    margin-bottom: 10px;
    padding: 0px;
}
html body .con .posts .profile.personal:hover{
    border-bottom: 5px solid gray;
}
/*profiles*/
.profile{
    display: flex;
    gap: 10px;
    text-align: left;
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
}
.profile img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.diamond{
    color: gray;
}
/*for liking posts, writing a comment or sharing posts*/
.react{
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.react:hover{
    cursor: pointer;
}
.like:focus{
    color: red;
}
.comment:focus{
    color: #005b96;
}
.share:focus{
    color: green;
}
/*the actual posts*/
img{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
/*learn more button*/
#lm{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 10px;
}
#lm a:hover{
    color: white;
}
#lm:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.rec{
    justify-content: baseline;
}
.rec button{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rec button:hover{
    cursor: pointer;
}
/*footer*/
.sidefooter{
    top: 0px;
    flex: 0 0 17.5%;
    overflow: hidden;
    height: 705px;
    position: sticky;
    margin-top: -30px;
    margin-bottom: -30px;
    background-image: linear-gradient(to bottom, #525252, #8c8c8c);
}
/*media query for mobile*/
@media (max-width: 400px) {
    .sidefooter{
        display: none;
    }
    .posts{
        margin-top: 40px;
        flex: 0 0 100%;
    }
    .nav{
        display: flex;
        flex-direction: row;
        height: 200px;
        flex-wrap: wrap;
        flex: 0 0 100%;
        z-index: 200;
        left: 20px;
        justify-content: space-evenly;
        background-color: white;
    }
    .sections{
        height: 50px;
        flex-basis: 20%;
        font-size: 15px;
        background-color: white;
    }
    #name{
        flex-basis: 100%;
        height: 100px;
    }
    .personal{
        top: 40px;
        left: -80px;
    }
    a ~ img{
        width: 90%;
        position: relative;
        left: -25px;
    }
    .con{
        flex-wrap: wrap;
    }
}
