body{
    overflow-x: hidden;
}
p{
    font-size: 27px;
    font-weight: 700;
}
h1{
    font-size: 40px;
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
/*font*/
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
/*container div*/
.con{
    display: flex;
    gap: 2px;
    width: auto;
    text-align: center;
}
/*navigation bar*/
.nav{
    top: 0px;
    margin: -30px 0px -30px -30px;
    flex-wrap: wrap;
    flex: 0 0 25%;
    height: 700px;
    position: sticky;
    text-align: center;
}
.sections{
    background-color: white;
    height: 10%;
    flex: 0 0 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
}
.sections:hover{
    cursor: pointer;
    background-color: gray;
}
.sections img{
    height: 100%;
    width: 100%;
    border: none;
}
#name{
    height: 20%;
    margin-top: -35px;
    border: none;
}
#name:hover{
    background-color: white;
}
/*search page*/
.search{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
/*search options*/
.result{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 27px;
}
.result:hover{
    color: black;
    background-color: #cdcdcd;
    cursor: pointer;
}
html body .search .one:focus, html body .search .two:focus,
html body .search .three:focus, html body .search .four:focus{
    display: flex;
    flex-basis: 100%;
    border: none;
    background-color: transparent;
    color: transparent;
}
.one:focus ~ .result, .two:focus ~ .result,
.three:focus ~ .result, .four:focus ~ .result{
    display: none;
}
.one:focus ~ .first, .two:focus ~ .second,
.three:focus ~ .third, .four:focus ~ .fourth{
    display: flex;
    flex-basis: 100%;
    border-radius: 20px;
    border: 2px solid black;
    gap: 10px;
    text-align: left;
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
}
.one:focus ~ h1, .two:focus ~ h1,
.three:focus ~ h1, .four:focus ~ h1{
    display: flex;
    flex-basis: 100%;
    text-decoration: underline;
}
.one:focus ~ .user1, .two:focus ~ .user2,
.three:focus ~ .user3, .four:focus ~ .mohammed{
    display: flex;
    width: 32.5%;
}
.diamond{
    color: gray;
}
/*.result:focus ~ .people{
    display: flex;
    flex-basis: 100%;
}
.result:focus ~ .photos{
    display: flex;
    flex-basis: 100%;
}*/
/*input tag for search*/
.lookUp{
    flex-basis: 80%;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.lookUp:hover{
    cursor: pointer;
}
/*button tag for search / enter*/
.lookFor{
    flex-basis: 10%;
    border-radius: 5px;
    margin-left: 10px;
    width: 50px;
    height: 45px;
    background-color: #add8e6;
    color: black;
    font-size: 27px;
}
.lookFor:hover{
    cursor: pointer;
    background-color: #6597a6;
}
/*.people{
    background-image: linear-gradient(to bottom right, #FE3FC3,#EB1B59, #B711ED, #6B3EF9);
    height: 300px;
    width: 200px;
    border-radius: 66% 34% 59% 41% / 30% 28% 72% 70%;
}
.logo{
    display: none;
    text-align: center;
    font-size: 360px;
    color: white;
    height: 300px;
    width: 300px;
    border-width: 5px;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    background-image: linear-gradient(to top left, #FCF55F, #B711ED, #6B3EF9, #19816b, #93C572, #FCF55F);
}*/
/*search result profiles*/
.Persons{
    display: none;
    height: 100px;
    font-size: 80px;
    justify-content: left;
    margin-bottom: 20px;
}
.Persons img{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding-left: 20px;
    padding-top: 5px;
}
/*search result posts*/
.user1, .user2, .user3, .mohammed{
    display: none;
    height: 400px;
}
.user1:hover, .user2:hover,
.user3:hover, .mohammed:hover{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px !important;
    width: 800px !important;
    cursor: pointer;
}
/*footer*/
.sidefooter{
    flex: 0 0 17.5%;
    overflow: hidden;
    height: 705px;
    position: sticky;
    top: 0px;
    margin-bottom: -20px;
    background-image: linear-gradient(to bottom, #525252, #8c8c8c);
    font-size: 31px;
}
/*media query for tablet*/
@media (max-width: 600px) and (min-width: 401px) {
    .sidefooter{
        display: none;
    }
    .posts{
        flex: 0 0 75%;
    }
}
/*media query for mobile*/
@media (max-width: 400px) {
    .sidefooter{
        display: none;
    }
    .posts{
        margin-top: 40px;
        flex: 0 0 100%;
    }
    .nav{
        display: flex;
        flex-direction: row;
        height: 150px;
        flex-wrap: wrap;
        flex: 0 0 100%;
        z-index: 200;
        left: 20px;
        justify-content: space-evenly;
    }
    .sections{
        height: 50px;
        flex-basis: 20%;
        font-size: 15px;
        background-color: white;
    }
    #name{
        flex-basis: 100%;
        height: 100px;
    }
    .personal{
        top: 40px;
    }
    .con{
        flex-wrap: wrap;
    }
}