* {
    font-family: serif;
}

a {
    text-decoration: none;
    color: black;
}

/*font*/
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

/*container div*/
.con {
    display: flex;
    gap: 2px;
    width: auto;
}

/*important colors: #EB1B59 (redish) #6B3EF9 (bluish) #FE3FC3 (pinkish) #B711ED (purplish)*/
/*navigation bar*/
.nav {
    top: 0px;
    margin: -30px 0px -30px -30px;
    flex-wrap: wrap;
    flex: 0 0 25%;
    height: 650px;
    position: sticky;
    text-align: center;
}

.sections {
    background-color: white;
    height: 10%;
    flex: 0 0 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
}

.sections:hover {
    cursor: pointer;
    background-color: gray;
}

.sections img {
    height: 100%;
    width: 100%;
    border: none;
}

#name {
    height: 20%;
    margin-top: -35px;
    border: none;
}

#name:hover {
    cursor: context-menu;
    background-color: white;
}

.videos {
    display: inline;
    position: relative;
    padding-left: 450px;
}

.video-container,
.video-container1,
.video-container2,
.video-container3 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.circle img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    display: flex;
    height: 40px;
    margin-top: 3%;
    margin-left: -150px;
    cursor: pointer;
    z-index: 2;
}


.video-container h4,
.video-container1 h4,
.video-container2 h4,
.video-container3 h4 {
    margin-left: -90px;
    cursor: pointer;
    margin-bottom: 55%;
    position: absolute;
    color: white;
    background-color: transparent;
    z-index: 2;
}

.video-container h5,
.video-container1 h5,
.video-container2 h5,
.video-container3 h5 {
    margin-left: 5%;
    margin-bottom: 55%;
    position: absolute;
    border: 0.5px dashed white;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2;
}

.video-container video,
.video-container1 video,
.video-container2 video,
.video-container3 video {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: -200px;
    margin-right: -300px;
    background-color: transparent;
    z-index: 2;
    margin-bottom: 0px;
}

.container span {
    display: block;
    font-size: 35px;
    color: white;
    background-color: transparent;
    padding: 2px;
    z-index: 2;
    cursor: pointer;
}

.container h6 {
    display: block;
    font-size: 10px;
    margin: 10px;
    margin-top: -4px;
    margin-left: 10px;
    position: absolute;
    color: white;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

p {
    position: absolute;
    margin-top: -80px;
    margin-left: -180px;
    z-index: 2;
    background-color: transparent;
    color: whitesmoke;
}

@media (max-width: 400px) {
    .sidefooter {
        display: none;
    }

    .posts {
        margin-top: 40px;
        flex: 0 0 100%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        height: 150px;
        flex-wrap: wrap;
        flex: 0 0 100%;
        z-index: 200;
        left: 20px;
        justify-content: space-evenly;
        background-color: white;
    }

    .sections {
        height: 50px;
        flex-basis: 20%;
        font-size: 15px;
        background-color: transparent;
    }

    #name {
        flex-basis: 100%;
        height: 100px;
    }

    .personal {
        top: 40px;
    }

    .con {
        flex-wrap: wrap;
    }
}

@media(max-width:768px) {
    .videos {
        margin-top: 20%;
        width: 100%;
        margin-left: -120%;
    }

    .video-container,
    .video-container1,
    .video-container2,
    .video-container3 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        height: 100hv;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;

    }

    .circle img {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        display: flex;
        height: 40px;
        height: 40px;
        margin-top: 1%;
        margin-left: -10%;
        cursor: pointer;
        z-index: 2;
    }

    .video-container h4,
    .video-container1 h4,
    .video-container2 h4,
    .video-container3 h4 {
        margin-left: -25%;
        cursor: pointer;
        margin-bottom: 55%;
        position: absolute;
        color: white;
        background-color: transparent;
        z-index: 2;
    }

    .video-container h5,
    .video-container1 h5,
    .video-container2 h5,
    .video-container3 h5 {
        margin-left: 5%;
        margin-bottom: 55%;
        position: absolute;
        border: 0.5px dashed white;
        color: white;
        background-color: transparent;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer;
        z-index: 2;
    }

    .video-container video,
    .video-container1 video,
    .video-container2 video,
    .video-container3 video {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: -25%;
        margin-right: -33%;
        background-color: transparent;
        z-index: 2;
    }

    .container span {
        display: block;
        font-size: 35px;
        color: white;
        background-color: transparent;
        padding: 2px;
        z-index: 2;
        cursor: pointer;
    }

    .container h6 {
        display: block;
        font-size: 10px;
        margin: 10px;
        margin-top: -4px;
        margin-left: 10px;
        position: absolute;
        color: white;
        background-color: transparent;
        cursor: pointer;
        z-index: 2;
    }

    p {
        position: absolute;
        margin-top: -6%;
        margin-left: -15%;
        z-index: 2;
        background-color: transparent;
        color: whitesmoke;
    }

}

@media(max-width:450px) {
    .videos {
        margin-top: 20%;
        width: 100%;
        margin-left: -120%;
    }

    .circle img {
        margin-left: -150px;
    }

    .container {
        margin-left: 170px;
        margin-top: -200px;
        margin-bottom: -10px;
    }

    p {
        margin-top: -80px;
        margin-left: -180px;
    }
}

@media(min-height:1150px) {

    .video-container,
    .video-container1,
    .video-container2,
    .video-container3 {

        height: -50%;
    }
}
